rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function userRef() {
      return /databases/$(database)/documents/users/$(request.auth.uid);
    }
    match /users/{userId}/{document=**} {
      allow read: if 
      	request.auth != null &&
        request.auth.uid == userId;
    }
    match /favorites/{userId}/{document=**} {
      allow read: if 
      	request.auth != null &&
        request.auth.uid == userId;
    }
    match /gyms/{gymId}/gymAppointments/{document=**} {
      function getGymDoc() {
        return get(/databases/$(database)/documents/gyms/$(gymId));
      }
      allow read: if 
        request.auth != null && 
        (resource == null ||
        userRef() == resource.data.user ||
        request.auth.uid in getGymDoc().admins)
    }
    match /{path=**}/gymAppointments/{documentId} {
      allow read: if 
        request.auth != null && 
        (resource == null ||
        userRef() == resource.data.user)    
    }
  }
}